@import url("https://use.typekit.net/tay6gha.css");
@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

#menu > h1 {
font-family: mason-serif, sans-serif;
font-weight: 700;
font-size: 7em;
font-style: normal;
position: relative;
text-align: center;
top: 100px;
}

#menu-links {
  display: flex;
  padding-left: 1em;
}

#menu-links a {
  padding-right: 0.5em;
  color: darkblue;
  text-decoration: underline;
  cursor: pointer;
}
