@import url("https://use.typekit.net/tay6gha.css");

.h1 {
color: white;
font-family: mason-serif, sans-serif;
font-weight: 700;
font-size: 7em;
font-style: normal;
position: relative;
text-align: center;
top: 20px;
text-shadow: -22px -9px 10px rgba(206,89,55,0), 4px 4px 8px rgba(0,0,0,0.64);
}

#menu-links {
  display: flex;
  padding-left: 1em;
}

menu.logo {
  width: 100%;
}
