.msgcard {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    margin-bottom: 5px;
    justify-content: center;
    width: 400px;
   
    
}
#container.ui.comments {
    left:50%;
}
.comment {
    left:50%;
}
#avatar {
    width: 50px;
    height: 50px;
}

#likebutton {
    position: absolute;
    
   display: flex;
   justify-content: flex-end;
}

.content {
    margin-left: 60px;
    left:50%;
}