@import url("https://use.typekit.net/tay6gha.css");
#registration-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    max-width: 20em;
    position: absolute;
    top: 100px;
    padding: 100px 5px 30px 5px;
    left: 39%;
}
.regpage {
  background-image: url("../img/register-splash.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center right;
  background-color: rgb(33, 33, 33, .6);
  background-blend-mode: overlay;
}
.regpage > h1 {
  color: white;
  font-family: mason-serif, sans-serif;
  font-weight: 700;
  font-size: 7em;
  font-style: normal;
  position: relative;
  text-align: center;
  overflow: hidden;
  top: 20px;
  text-shadow: -22px -9px 10px rgba(206,89,55,0), 4px 4px 8px rgba(0,0,0,0.64);
  white-space: nowrap;
}

#rinput {
  color:white;
  border: none;
  outline: none;
  background: none;
  font-size: 20px;
  font-family: cora, sans-serif;
  border-bottom: 1px solid white;
  height: 30px;
  margin-bottom: 40px;
  display: inline-block;
}

#reguser, #regpass, #regdisp {
  color:white;
  display: block;
  font-family: cora, sans-serif;
  font-style: normal;
  font-weight: 100;
  display: inline-block;
  margin-bottom: 10px;
}

  .glow-on-hover {
  width: 270px;
  height: 50px;
  border: 1px solid white;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  font-family: rig-shaded-bold-face, sans-serif;
  font-size: 18px;
  text-transform: uppercase;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: white;
}
/* 
.glow-on-hover:active:after {
  background: transparent;
} */

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}
