@import url("https://use.typekit.net/tay6gha.css");
h2 {
    font-family: cora, sans-serif;
    font-style: italic;
    font-weight: 100;
    font-size: medium;
    text-align: center;
    position: relative;    
    top: 5em;
    margin: 0em;
}